@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
.attribution {
  font-size: 11px; text-align: center;
  padding: 10px;
  color: gray;
}
.attribution a {
  color: hsl(0, 0%, 87%);
  text-decoration: none;
 }

.titulo-principal {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: 'Alata', sans-serif;
    Font size: 15px
}

.versao--desktop{
  display: none;
}

nav a{
    color: white;
    text-decoration: none;
    
}


.cabecalho {
  position: absolute;
  margin: 60px 40px;
  right: 0;
  left: 0;
}

.cabecalho__logo {
  position: absolute;
  display: inline;
  z-index: 2;
}

.cabecalho__menu--icone{
  display: inline;
  float: right;
  margin-top: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.cabecalho__fechar--icone{
  position: absolute;
  display: inline;
  right: 0;
  margin-top: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  visibility: hidden;
  z-index: 2;
}

.botao__fechar-ativo{
  visibility: visible;
}

.cabecalho__menu {
  position: absolute;
  left: -1000px;
}

.cabecalho__menu a {
  display: block;
  padding: 15px 0;
}

.menu--ativo {
  top: -150px;
  left: -40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  background-color: black;
  padding: 50vh 100px 50vw 40px;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.banner--mobile{
  width: 100%;
  margin-bottom: 50px;
}

.caixa-texto {
  color: #FFFFFF;
  position: absolute;
  top: 40%;
  left: 40px;
  right: 40px;
  border: 2px solid white;
  padding: 30px 40px 20px 20px;
  font-size: 40px;
  max-width: 280px;
}

main{
  margin: 0 100px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  padding: 60px;
}

.menu-inferior{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-inferior a {
  padding: 10px;
}

.redes-sociais {
  padding: 20px;
}

.botao__redes {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.direitos {
  color: gray;
}

/* Estilo para a versão Desktop*/

@media screen and (min-width: 1200px) {
  body{
    background-color: darkgray;
  }

  .versao--mobile{
    display: none;
  }

  .cabecalho {
    position: absolute;
    margin: 50px 100px;
    right: 0;
    left: 0;
  }

  .cabecalho__logo {
    display: inline;
  }

  .cabecalho__menu {
    position: absolute;
    left: auto;
    right: 0;

    top: auto;
    left: auto;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    background-color: inherit;
    padding: 0;
    width: auto;
    height: auto;
  }

  .cabecalho__menu a {
    display: inline;
    float: right;
    padding: 10px 0;
  }

  nav a{
    position: relative;
    vertical-align: -webkit-baseline-middle;
    margin-left: 30px;
  }


  nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


  .banner--desktop{
    display: block;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
  }

  .caixa-texto {
    color: #FFFFFF;
    position: absolute;
    top: 225px;
    left: auto;
    right: auto;
    border: 2px solid white;
    padding: 20px 40px 10px 20px;
    font-size: 80px;
    max-width: none;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    padding: 50px 100px 50px 100px;
  }
  
  .menu-inferior{
    display: inline;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-area: 2/1;
  }
  
  .menu-inferior a {
    padding: 10px 0;
    padding-bottom: 10px;
    margin: 0 30px 0 0;
  }
  
  .redes-sociais {
    padding: 0;
    display: flex;
    justify-content: end;
  }
  
  .botao__redes {
    padding-left: 10px;
  }

  .direitos {
    display: flex;
    justify-content: end;
  }

  .attribution {
    display: none;
  }

}
