@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
 }

.titulo-principal {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: lightgray;
    font-family: 'Alata', sans-serif;
    Font size: 15px
}

.versao--desktop{
  display: none;
}

nav a{
    color: white;
    text-decoration: none;
}

.cabecalho {
  position: absolute;
  margin: 60px 40px;
  right: 0;
  left: 0;
}

.cabecalho__logo {
  position: absolute;
  display: inline;
  z-index: 2;
}

.cabecalho__menu--icone{
  display: inline;
  float: right;
  margin-top: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.cabecalho__fechar--icone{
  position: absolute;
  display: inline;
  right: 0;
  margin-top: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  visibility: hidden;
  z-index: 2;
}

.botao__fechar-ativo{
  visibility: visible;
}

.cabecalho__menu {
  position: absolute;
  left: -1000px;
}

.cabecalho__menu a {
  display: block;
  padding: 15px 0;
}

.menu--ativo {
  top: -150px;
  left: -40px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  background-color: black;
  padding: 50vh 100px 50vw 40px;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.banner--mobile{
  width: 100%;
  margin-bottom: 50px;
}

.caixa-texto {
  color: #FFFFFF;
  position: absolute;
  top: 40%;
  left: 40px;
  right: 40px;
  border: 2px solid white;
  padding: 30px 40px 20px 20px;
  font-size: 40px;
  max-width: 280px;
}

main{
  margin: 0 100px;
}


/* Estilo para a versão Desktop*/

@media screen and (min-width: 1200px) {
  body{
    background-color: darkgray;
  }

  .versao--mobile{
    display: none;
  }

  .cabecalho {
    position: absolute;
    margin: 50px 100px;
    right: 0;
    left: 0;
  }

  .cabecalho__logo {
    display: inline;
  }

  .cabecalho__menu {
    position: absolute;
    left: auto;
    right: 0;

    top: auto;
    left: auto;
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    background-color: inherit;
    padding: 0;
    width: auto;
    height: auto;
  }

  .cabecalho__menu a {
    display: inline;
    float: right;
  }

  nav a{
    vertical-align: -webkit-baseline-middle;
    margin-left: 30px;
  }

  .banner--desktop{
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }

  .caixa-texto {
    color: #FFFFFF;
    position: absolute;
    top: 225px;
    left: auto;
    right: auto;
    border: 2px solid white;
    padding: 20px 40px 10px 20px;
    font-size: 80px;
    max-width: none;
  }


}
